$bp-desktop: 768px;

.footer-container {
  background-color: rgb(5, 8, 17);
}

//carfooter main div
.carfooter-hook-footer {
  color: #fff;
  padding: 1.25rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  font-family: "Segoe UI", "Helvetica Neue, Arial, sans-serif";
  letter-spacing: 1px;

  hr {
    border: none;
    height: 1px;
    background-color: #303030;
    width: 100%;
    margin: 0.625rem 0;
  }

  @media (min-width: $bp-desktop) {
    padding: 0;
    gap: 2.5rem;
  }
}

.carfooter-bottom-row {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

//carfooter logo
.carfooter-logo-footer {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.carfooter-logo-image {
  height: auto;
  width: auto;
}
.carfooter-logo-name {
  font-size: 1.25rem;
  font-weight: 400;
}

//carfooter top
.carfooter-top-name {
  font-size: 1.5rem;
  font-weight: 400;
  padding: 1.25rem 0;
}

//carfooter socials
.carfooter-social-footer {
  padding: 0.625rem 0.625rem;
  display: flex;
  gap: 0.625rem;
  @media (min-width: $bp-desktop) {
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
  }
}
.carfooter-icon-invert {
  filter: invert(1);
  margin-right: 1.25rem;
}

//carfooter safe payment
.carfooter-safe-payment {
  padding: 0.625rem 0.625rem;
  display: flex;
  gap: 0.625rem;
  @media (min-width: $bp-desktop) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625rem;
  }
}
.carfooter-green-text {
  color: green;
  font-weight: 400;
  align-items: center;
  font-size: 1.25rem;
  display: inline-block;
}

//cafrooter platform and solution list
.carfooter-platform-solution-footer {
  line-height: 2rem;
  color: #fff;

  ul {
    margin-bottom: 1.875rem;
  }
  li a {
    color: #fff !important;
    font-size: 1rem;
    font-weight: 300;
  }

  @media (min-width: $bp-desktop) {
    display: flex;
    gap: 3rem;
  }
}

//carfooter header
.carfooter-text-header {
  margin-top: 1rem;
  margin-bottom: 0.625rem;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;

  span {
    display: block;
    line-height: 1.75rem;
  }
}
.carfooter-info-header {
  line-height: 1.625rem;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}

//carfooter opinion
.carfooter-opinion-percent {
  line-height: 4rem;
  font-size: 2.25rem;
  font-weight: 300;
}
.carfooter-opinion-seller {
  font-size: 1.25rem;
  line-height: 2.5rem;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}
.carfooter-opinion-stats {
  font-size: 1.25rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carfooter-opinion-big {
  font-size: 2rem;
}
.carfooter-opinion-rating {
  display: flex;
}
.carfooter-opinion-big-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 1.25rem;
}
.carfooter-opinion-name {
  font-weight: 600;
  margin-right: 1.25rem;
}

//carfooter description text
.carfooter-description {
  line-height: 1.625rem;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 100;
  color: #fff;
}

//carfooter regions
.carfooter-regions-footer {
  line-height: 3rem;

  li {
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 300;
    color: #fff;
  }

  @media (min-width: $bp-desktop) {
    order: 1;
    flex: 1;

    ul {
      display: flex;
      flex-wrap: wrap;
      column-gap: 9rem;
    }
  }
}

//carfooter legal
.carfooter-legal-footer {
  p {
    color: #fff !important;
    font-size: 1.25rem;
  }
  @media (min-width: $bp-desktop) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1.875rem;
  }
}

//desktop and mobile only
.carfooter-safe-payment.desktop-only,
.carfooter-info.desktop-only {
  display: none;
  @media (min-width: $bp-desktop) {
    display: block;
  }
}

.carfooter-safe-payment.mobile-only,
.carfooter-info.mobile-only {
  display: block;
  @media (min-width: $bp-desktop) {
    display: none;
  }
}

//
//desktop style
//
.carfooter-top-row {
  @media (min-width: $bp-desktop) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.carfooter-main-row {
  @media (min-width: $bp-desktop) {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
  }
}

.carfooter-left-column {
  @media (min-width: $bp-desktop) {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    flex: 1.2;
  }
}

.carfooter-middle-column {
  @media (min-width: $bp-desktop) {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    flex: 1;
  }
}

.carfooter-right-column {
  @media (min-width: $bp-desktop) {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    flex: 1;
  }
}

.carfooter-description-footer {
  @media (min-width: $bp-desktop) {
    order: 2;
    flex: 1;
  }
}
